* {
    flex-wrap: wrap;
}

html {
    background-image: url(https://img.freepik.com/fotos-gratis/salada-de-cenoura-na-tigela-de-ceramica-e-legumes-estao-na-vista-superior-de-tabua-de-madeira-com-espaco-de-copia_176474-157.jpg?w=2000);
    background-size: auto;

}

.dieta {
    background-color: #8c8c8c86;
    border: 5px double black;
    border-radius: 15px;
}

.titulo-1 {
    background-color: rgba(240, 248, 255, 0.411);
    text-align: center;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 10px;
    border-left: 0px;
    border-color: black;
    border-style: double;
    margin: 25px 50px 0px 50px;
    border-radius: 15px;
}

.produtos {
    margin: 10px 100px 10px 100px;
    border-bottom: 10px;
    border-color: black;
    border-style: double;
    border-radius: 15px;
}

.titulo-2 {
    background-color: rgba(240, 248, 255, 0.411);
    text-align: center;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 10px;
    border-left: 0px;
    border-color: black;
    border-style: double;
    border-radius: 15px;
}

.itens {
    margin: 25px 50px 25px 50px;
    border-top: 0px;
    border-right: 10px;
    border-bottom: 0px;
    border-left: 10px;
    border-color: black;
    border-style: double;
    border-radius: 15px;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(240, 248, 255, 0.411);
}

.lista {
    flex-wrap: wrap;
    display: flex;
}

.proteinas,
.cabs,
.gorduras {
    text-align: center;
    margin: auto;
    border: none;
    list-style: none;
}

li {
    border-top: 0px;
    border-right: 0px;
    border-bottom: 10px;
    border-left: 0px;
    border-color: red;
    border-style: solid;
    border-radius: 15px;
}

.total {
    border-top: 0px;
    border-right: 0px;
    border-bottom: 10px;
    border-left: 0px;
    border-color: black;
    border-style: double;
    border-radius: 10px;
    margin: 10px;
    background-color: rgba(240, 248, 255, 0.411);
    padding: 5px 10px 5px 10px;
    font-family: sans-serif;
}
