body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #2abdbb;
    color: #333333;
    background-repeat: no-repeat;
    background-size: auto;
}

body.modo-escuro {
    background: url("https://images4.alphacoders.com/986/98696.jpg");
    color: #333333;
    transition: 0, 10s ease-in-out;
    background-size: auto;
}

header #botao-alterar-tema{
    bottom: none;
    border: none;
    cursor: pointer;
}

main {
    padding: 25px;
}

header {
    background: url(https://gifdb.com/images/high/madara-uchiha-sharingan-eyes-blinking-naruto-5i9qqhc25op9sred.gif);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 40px;

}

header .logo {
    width: 300px;
    transition: 0, 02s ease-in-out;
}

header .imagem-botao {
    width: 50px;
    transition: 0, 02s ease-in-out;
}

header .aldeias {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .bandana {
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: 0, 2s ease-in-out;
}

main .bandana:hover{
    border-radius: 15px;
}

header .logo:hover,
header .imagem-botao:hover,
main .aldeia:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main .aldeia{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: 0,2s ease-in-out;
}

main .aldeia{
    display: inline-block;
}

main .areia:hover{
    background-color: #d8a477;
}

main .artesao:hover{
    background-color: #757655;
}

main .cachoeira:hover{
    background-color: #648dba;
}

main .chuva:hover{
    background-color: #565b6e;
}

main .estrela:hover{
    background-color: #3c414f;
}

main .folha:hover{
    background-color: #54811e;
}

main .grama:hover{
    background-color: #71c436;
}
main .lua:hover{
    background-color: #818181;
}

main .neve:hover{
    background-color: #d6dbe9;
}

main .nevoa:hover{
    background-color: #b2a9a9;
}

main .nuvem:hover{
    background-color: #c8e2e4;
}

main .rocha:hover{
    background-color: #94847b;
}

main .som:hover{
    background-color: #9c2987;
}
